<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team Brainstormers Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
  <div class="alert alert-success">
     <div class="d-flex justify-content-center">
         <h1>Welcome to Brainstormers' application</h1>
     </div>
    {{{body}}}
</div>
<div class="container input-group mb-3">
    <div class="input-group mb-3">
        <h2>Add an event</h2>
    </div>
    <form action="/event" method="post">
       title: <input name="title" class="input-group-text" type="text" /> <br />
       description: <input name="description" class="input-group-text" type="text" /> <br />
       location: <input name="location" class="input-group-text" type="text" /> <br />
       <br />
        <input type="submit"  class="form-control" name="submit" value="submit" />
    </form>
  </div>
</body>
</html>